In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

xml_data = open('processen50000.xml', 'r').read()  # Read file
# root = ET.XML(xml_data)  # Parse XML

df = pd.read_xml(xml_data)

In [3]:
df.head()

   pid  arrivaltime  servicetime
0    1          358           94
1    2          530          122
2    3          665           30
3    4          774           83
4    5         1231           26

De aankomsttijden zijn Poisson verdeeld met een gemiddelde rate van 0.8.