# Opdracht
## XML-dataset

In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

xml_data = open('processen50000.xml', 'r').read()  # Read file
# root = ET.XML(xml_data)  # Parse XML

df = pd.read_xml(xml_data)

In [2]:
df.head()

   pid  arrivaltime  servicetime
0    1          358           94
1    2          530          122
2    3          665           30
3    4          774           83
4    5         1231           26

De tijden zijn niet in seconden, maar in aantal JIFFY’s. Een JIFFY is de tijd tussen twee “system timer”-interrupts. Er kan enkel gescheduled worden, beslissen welk proces aan de beurt is, bij een interrupt. Hier is de waarde van de JIFFY 10 ms.

## Processtrategiën
FCFS, SJF, SRT, RR, HRRN, en multilevel feedback mode.

Van het FCFS, SJF, SRT en HRRN algoritme maak je 1 versie. Het RR algoritme wordt geïmplementeerd met time slices q = 2, q = 4 en q = 8.
Voor het multilevel feedback algoritme maak je twee versies, telkens met 5 wachtrijen. Maak hier zelf een goeie keuze voor de time slices per wachtrij.
Motiveer de keuze in het verslag. Uiteraard mag je er meer implementeren dan deze. Schenk bij de implementatie van deze strategie¨en aandacht aan het ontwerp.
Indien de modellering goed verlopen is, zal je minder problemen hebben in deze fase.

### FCFS
First Come First Served.
Implementatie: simpel, steeds bij de arrival time de service time optellen en kijken of het volgende proces heeft gewacht of niet.

In [3]:
df_fcfs = df.copy()

In [6]:
# uitvoeren van de scheduler en berekenen van de grootheden per proces:
df_fcfs["starttime"] = df_fcfs["arrivaltime"]
df_fcfs["waittime"] = 0
df_fcfs["endtime"] = df_fcfs["arrivaltime"] + df_fcfs["servicetime"]

for i in range(1, 50000):
    # als het proces toekomt alvorens het vorige proces klaar is (deze if loop is als het ware de scheduler):
    if df_fcfs.at[i-1, "endtime"] > df_fcfs.at[i, "arrivaltime"]: 
        # wachttijd berekenen
        df_fcfs.at[i, "waittime"] = df_fcfs.at[i-1, "endtime"] - df_fcfs.at[i, "arrivaltime"] 
        # starttijd bijstellen met wachttijd
        df_fcfs.at[i, "starttime"] = df_fcfs.at[i-1, "endtime"] 
    # eindtijd berekenen op basis van (aangepaste) starttijd en bedieningstijd
    df_fcfs.at[i, "endtime"] = df_fcfs.at[i, "starttime"] + df_fcfs.at[i, "servicetime"] 
# Na het uitvoeren van de scheduler berekenen we de TAT zoals gezien in de les: service time + wait time    
df_fcfs["TAT"] = df_fcfs["servicetime"] + df_fcfs["waittime"]
# idem voor de genormaliseerde TAT:
df_fcfs["normTAT"] = df_fcfs["TAT"]/df_fcfs["servicetime"]

df_fcfs.head(-20)

,pid,arrivaltime,servicetime,starttime,waittime,endtime,TAT,normTAT
0,1,358,94,358,0,452,94,1.000000
1,2,530,122,530,0,652,122,1.000000
2,3,665,30,665,0,695,30,1.000000
3,4,774,83,774,0,857,83,1.000000
4,5,1231,26,1231,0,1257,26,1.000000
...,...,...,...,...,...,...,...,...
49975,49976,6207751,52,6207789,38,6207841,90,1.730769
49976,49977,6208026,67,6208026,0,6208093,67,1.000000
49977,49978,6208055,105,6208093,38,6208198,143,1.361905
49978,49979,6208116,1,6208198,82,6208199,83,83.000000
49979,49980,6208129,366,6208199,70,6208565,436,1.191257

In [10]:
# berekenen globale parameters:

# gemiddelde omlooptijd:
tat_fcfs = df_fcfs["TAT"].mean()

# gemiddelde genormaliseerde omlooptijd:
normtat_fcfs = df_fcfs["normTAT"].mean()

# gemiddelde genormaliseerde omlooptijd:
wait_fcfs = df_fcfs["waittime"].mean()

fcfs = (tat_fcfs, normtat_fcfs, wait_fcfs)
fcfs

(505.32718, 23.26153566913487, 405.80196)

## Evaluatie testresultaten

Voor het evalueren van de scheduler bepaal je aan de hand van een testrun een aantal grootheden:
- per proces: aankomsttijd, bedieningstijd , starttijd, eindtijd, omlooptijd, genormaliseerde omlooptijd en wachttijd
- globale parameters: gemiddelde omlooptijd, gemiddelde genormaliseerde omlooptijd en gemiddelde wachttijd

De resultaten breng je in twee grafieken:
- genormaliseerde omlooptijd in functie van bedieningstijd
- wachttijd in functie van bedieningstijd

De bedieningstijd verdeel je in percentielen. Voorbeeld voor 20000 processen: het eerste percentiel bestaat
uit de 200 kortste bedieningstijden.